<molecules-breadcrumb [breadcrumbItems]="breadcrumbItems"> </molecules-breadcrumb>

<templates-crud-wrapper>
  <div *ngIf="!projects.length" class="alert alert-warning" role="alert">
    {{ 'Please add at least one project before.' | translate }}
  </div>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-5">
        <molecules-select
          [required]="true"
          [items]="projects"
          [optionTemplate]="projectOptionTemplate"
          [labelTemplate]="projectOptionTemplate"
          bindLabel="title"
          bindValue="id"
          label="Project"
          formControlName="projectId"
          errorMessages
        >
          <ng-template #projectOptionTemplate let-item="item"> {{ item.code }} - {{ item.title }} </ng-template>
        </molecules-select>
      </div>

      <div class="w-100"></div>

      <div class="col-md-5">
        <molecules-select
          [required]="true"
          [items]="types"
          [optionTemplate]="typeOptionTemplate"
          [labelTemplate]="typeOptionTemplate"
          bindLabel="text"
          bindValue="id"
          label="Type"
          formControlName="typeId"
          errorMessages
        >
          <ng-template #typeOptionTemplate let-item="item">
            <atoms-task-icon [lovType]="LovType.TASK_TYPE" [lov]="item"></atoms-task-icon>

            {{ item.text | translate }}
          </ng-template>
        </molecules-select>
      </div>

      <div class="w-100"></div>

      <div class="col-md-5">
        <molecules-select
          [required]="true"
          [items]="priorityItems"
          [optionTemplate]="priorityOptionTemplate"
          [labelTemplate]="priorityOptionTemplate"
          bindLabel="text"
          bindValue="id"
          label="Priority"
          formControlName="priorityId"
          errorMessages
        >
          <ng-template #priorityOptionTemplate let-item="item">
            <atoms-task-icon [lovType]="LovType.TASK_PRIORITY" [lov]="item"></atoms-task-icon>

            {{ item.text | translate }}
          </ng-template>
        </molecules-select>
      </div>

      <div class="w-100"></div>

      <div class="col-md-5 mb-2">
        <molecules-select
          [required]="true"
          [items]="users"
          bindLabel="fullName"
          bindValue="id"
          label="Assignee"
          formControlName="assigneeId"
          errorMessages
        >
        </molecules-select>
        <a class="small" href="javascript:void(0)" (click)="assignToMe()">{{ 'Assign to me' | translate }}</a>
      </div>

      <div class="w-100"></div>

      <div class="col-md-5">
        <atoms-input [required]="true" inputLabel="Task title" formControlName="title" errorMessages> </atoms-input>
      </div>
    </div>

    <div class="form-group">
      <label class="label">{{ 'Task Description' | translate }}</label>
      <quill-editor placeholder="" class="content-editor" formControlName="description" [modules]="editorConfig">
      </quill-editor>
    </div>

    <button *ngIf="isEdit" type="submit" class="btn btn-primary" [disabled]="!projects.length" (click)="updateTask()">
      {{ 'Save' | translate }}
    </button>
    <button *ngIf="!isEdit" type="submit" class="btn btn-primary" [disabled]="!projects.length" (click)="crateTask()">
      {{ 'Create' | translate }}
    </button>
  </form>
</templates-crud-wrapper>
