<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">Welcome to Jira, please login or <a routerLink="/auth/register">register</a>.</div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (keydown.enter)="submitForm()">
          <atoms-input
            formControlName="email"
            inputLabel="Email"
            inputPlaceholder="Email"
            fieldClass="has-margin-bottom-10"
            [iconName]="faEnvelope"
          ></atoms-input>
          <div class="form-group">
            <atoms-input
              formControlName="password"
              inputLabel="Password"
              inputPlaceholder="********"
              inputType="password"
              fieldClass="has-margin-bottom-10"
              [iconName]="faLock"
            ></atoms-input>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
