<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <p>
          {{ 'If you dont have account, please register.' | translate }}
        </p>

        <p>
          <a class="btn btn-primary" routerLink="/auth/register">{{ 'Register' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (keydown.enter)="submitForm($event)">
          <atoms-input
            formControlName="email"
            inputLabel="Email"
            inputPlaceholder="Email"
            fieldClass="has-margin-bottom-10"
            [iconName]="faEnvelope"
          ></atoms-input>
          <div class="form-group">
            <atoms-input
              formControlName="password"
              inputLabel="Password"
              inputPlaceholder="********"
              inputType="password"
              fieldClass="has-margin-bottom-10"
              [iconName]="faLock"
            ></atoms-input>
          </div>
          <button type="submit" class="btn btn-primary" (click)="submitForm($event)">{{ 'Login' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
