@import '~bootstrap';
@import '~ngx-toastr/toastr.css';
@import '~@angular/material/theming';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import '~@ng-select/ng-select/themes/default.theme.css';

$custom-typography: mat-typography-config(
  $font-family: var(--font-family-sans-serif),
);
@include mat-core($custom-typography);

// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

:root {
  --primary-color: #0747a6;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
* {
  box-shadow: none !important;
}
table {
  width: 100%;
}

.ql-container {
  height: 200px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.ql-toolbar {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: none !important;
}

.label {
  color: #6b778c;
  font-weight: 500;
}

.icon-required {
  color: #de350b;
}

.ng-select-container {
  background: #ebecf0 !important;
  border-color: transparent !important;
}

.ng-dropdown-panel.ng-select-bottom {
  border-color: #eee !important;
  background: #fff !important;
  margin-top: 2px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04) !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 4px 8px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #eee !important;
}

.ng-select-focused .ng-select-container {
  background: #fff !important;
  border-color: #80bdff !important;
}
